Makefile.in*
*~
*.swp
aclocal.m4
.deps
stamp-*
missing
install-sh
depcomp
configure
config.*
autom4te.cache
AUTHORS
COPYING
ChangeLog
INSTALL
README
Makefile
*.o
yatta
!src/yatta
.dirstamp
TAGS
tags
intltool-*.in
po/POTFILES
*.pot
cscope.*
\#*#
BROWSE
semantic.cache
yatta-*.tar.*
curl-check
